#footer {    
    background: $white;
	> .wrapper {
		> div {
	    	padding: 50px 0;
	    	border-bottom: 1px solid $gray-semilight;
	    	overflow: hidden;
	    }
	}
    h2 {
        font-family: $font-decima-heavy;
        color: $color-primary-orange;
        font-size: 18px;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 15px;
    }
    a {
        color: $color-primary-navy;
    }
    .footer-categories {
        background-image: linear-gradient($color-primary-blue, #213865);
        .wd-category-menu {
            .section {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 30px;
                padding: 50px 40px;
                li {
                    h3 {
                        > a, > a:hover {
                            color: $white;
                            font-family: $font-decima-heavy;
                            font-size: 18px;
                            font-weight: 400;
                            text-transform: uppercase;
                        }
                    }
                    h4 {
                        > a {
                            color: #81C9E3;
                            font-size: 14px;
                            font-weight: 400;
                            &:hover:not([title="ver mais"]) {
                                color: $white;
                                text-decoration: none;
                                padding-left: 5px;
                                &:before {
                                    content: '';
                                    @extend .icon !optional;
                                    @extend .icon-arrow-right-white !optional;
                                    margin-right: 5px;
                                }
                            }
                            &[title="ver mais"], &[title="ver mais"]:hover {
                                font-family: $font-decima-bold;
                                color: $color-primary-yellow;
                                text-transform: uppercase;
                                padding-bottom: 3px;
                                border-bottom: 1px solid $color-primary-yellow;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-newsletter {
        padding: 30px 0;
        text-align: center;
        background-image: linear-gradient($color-primary-yellow, $color-primary-orange);
        h2 {
            font-size: 30px;
            color: $white;
            text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
            margin: 0;
        }
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    	.wd-marketing-newsletter.wd-widget-js {
            .wd-header, label, p {
                display: none;
            }
            form {
                margin: 0;
            }
            .form-wrapper {
                display: flex;
            }
            .input-wrapper {
                margin: 0;
            }
            input {
                width: 240px;
                height: 48px;
                margin-right: 20px;
                border-width: 0;
                @include shadow();
                &.error {
                    border-width: 1px;
                }
            }
			.input-button-marketing-newsletter {
				button {
                    line-height: 48px;
                    @extend .btn-green !optional;
                    @include shadow();
				}
            }
            .message {
                color: $white;
            }
    	}
    }
    .wrapper {
        .aboutme {
            padding-bottom: 30px;
            p {
                margin-bottom: 25px;
                line-height: 22px;
            }
            .footer-social {
                width: 100%;
                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        padding: 0 25px;
                    }
                }
            }
        }
        .footer-pages {        
            h2 {
                text-align: left;
                padding: 0;
            }
            big {
                font-size: 20px;
            }
            .cms-page-menu {
                float:right;
                .cms-page {
                    &.active {
                        small {
                            @include grid-media($grid-smartphone) {
                                &::after {
                                    @include aws-icon("\f106");
                                }
                            }
                        }
                        .wd-page-menu {
                            > ul {
                                display: block;
                            }
                        }
                    }
                    small {
                        @include grid-media($grid-smartphone) {
                            &::after {
                                @include aws-icon("\f107");
                                float: right;
                            }
                        }
                    }
                    .wd-page-menu {
                        > ul {
                            padding-bottom: 15px;                    
                            @include grid-media($grid-smartphone) {
                                display: none;
                            }
                            li {                        
                                margin: 0;
                                margin-top: 15px;
                                a {
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .certificados {
    	padding: 50px 0;
        .pagamento {
            .shields {
                display: grid;
                grid-template-columns: 58px 58px 58px 58px;
                grid-gap: 10px;
            }
        }
        .seguranca {
            .shields {
                > a {
                    float: left;
                    margin: 5px 10px;
                    &.shield-letsencrypt {
                        width: 77px;
                        height: 63px;
                        background-image: url(/custom/content/themes/#{$theme-path}/Imagens/lets-encrypt.png);
                    }
                }
            }
        }
    }
    .assinatura {
        background-color: $gray-extralight;
        color: $gray-dark;
    	.wrapper {
    		> .row {
    			border-bottom: 1px solid $gray-light;
	    		border-top: 1px solid $gray-light;
	    		padding: 30px 0;
	    		overflow: hidden;
    		}
    	}
    	.creators {
            overflow: hidden;            
    		text-align: center;
            small {
                display: block;
                margin-bottom: 5px;
                &.absolute {
                    position: absolute;
                    width: 65%;
                }
            }
            .logo-fg {
                width: 102px;
                height: 26px;
                margin: 0 auto;
                a {
                    background: url('/custom/content/themes/#{$theme-path}/Imagens/desc-fg.png') 0 0 no-repeat;
                    height: 26px;
                    float: left;
                    width: 100%;
                    &:hover {
                        animation: play 2.5s infinite step-start;
                        -o-animation: play 2.5s infinite step-start;
                        -moz-animation: play 2.5s infinite step-start;
                        -webkit-animation: play 2.5s infinite step-start;
                    }
                    img {
                        float: right;
                        position: relative;
                        right: -4px;
                    }
                }
            }
    	}
    }
}
@-webkit-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@-moz-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@-o-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    }
}