#footer {    
    background: $white;
	> .wrapper {
		> div {
	    	padding: 50px 0;
	    	border-bottom: 1px solid $gray-semilight;
	    	overflow: hidden;
	    }
	}
    h2 {
        font-family: $font-decima-heavy;
        color: $color-primary-orange;
        font-size: 18px;
        text-transform: uppercase;
    	text-align: left;
        margin-bottom: 15px;
    }
    a {
        color: $color-primary-navy;
    }
    .footer-categories {
        background-image: linear-gradient($color-primary-blue, #213865);
    }
    .footer-newsletter {
        text-align: center;
        background-image: linear-gradient($color-primary-yellow, $color-primary-orange);
    	.wd-marketing-newsletter {
    		max-width: 500px;
    		margin: 0 auto;
            .wd-header, .input-name-marketing-newsletter, label, p {
                display: none;
            }
    		.input-email-marketing-newsletter {
				width: 79%;
				float: left;
                @include grid-media($grid-smartphone) {
                    width: 70%;
                }
                input {
                    @include round-right(0);
                }
			}
			.input-button-marketing-newsletter {
				float: left;
				width: 21%;
                @include grid-media($grid-smartphone) {
                    width: 30%;
                }
				button {
                    @extend .btn-wide;
                    @include round-left(0);
				}
			}
    	}
    }
    .wrapper {
        .aboutme {
            padding-bottom: 30px;
            p {
                margin-bottom: 25px;
                line-height: 22px;
            }
            .footer-social {
                width: 100%;
                .icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a {
                        padding: 0 25px;
                    }
                }
            }
        }
        .footer-pages {        
            h2 {
                text-align: left;
                padding: 0;
            }
            .cms-page-menu {
                float:right;
                .cms-page {
                    &.active {
                        small {
                            @include grid-media($grid-smartphone) {
                                &::after {
                                    @include aws-icon("\f106");
                                }
                            }
                        }
                        .wd-page-menu {
                            > ul {
                                display: block;
                            }
                        }
                    }
                    small {
                        @include grid-media($grid-smartphone) {
                            &::after {
                                @include aws-icon("\f107");
                                float: right;
                            }
                        }
                    }
                    .wd-page-menu {
                        > ul {
                            padding-bottom: 15px;                    
                            @include grid-media($grid-smartphone) {
                                display: none;
                            }
                            li {                        
                                margin: 0;
                                margin-top: 15px;
                                a {
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-atendimento {
    	.contato {
	    	max-width: 740px;
	    	margin: 0 auto;
    		padding: 30px 0 15px 0;
    		overflow: hidden;
            > div {
                @include grid-media($grid-smartphone) {
                    text-align: center;
                    margin: 15px 0;
                }
            }
    		i {
    			float: left;
			    font-size: 44px;
			    margin-right: 18px;
                @include grid-media($grid-pp) {
                    display: none
                }
    		}
    		strong {
    			display: block;
    			margin: 3px 0 5px 0;
    		}
    		a:not(.btn) {
    			font-size: 1.3em;
    		}
    		.phone {
    			a {
    				color: $font-dark;
    			}
    		}
    	}
    	.horario {
    		color: $gray-dark;
    		text-align: center;
    	}
    }
    .certificados {        
    	background-color: $white;
    	padding: 50px 0;
        .col {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .title, .shields {
            float: left;
        }
        .title {
            margin-right: 10px;
        }
        .shields {
            > a {
                float: left;
                margin: 5px 10px;
                &.shield-letsencrypt {
                    width: 77px;
                    height: 63px;
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/lets-encrypt.png);
                }
            }
            .payment {
                width: 32px;
                height: 20px;
                margin: 5px;                
                float: left;
                background-color: $white;                
                background-repeat: no-repeat;
                &.payment-pay-amex {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-amex.png);
                }
                &.payment-pay-code {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-code.png);
                }
                &.payment-pay-master {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-master.png);
                }
                &.payment-pay-visa {
                    background-image: url(/custom/content/themes/#{$theme-path}/Imagens/pay-visa.png);
                }
            }
        }
    }
    .assinatura {
        background-color: $gray-extralight;
        color: $gray-dark;
    	.wrapper {
    		> .row {
    			border-bottom: 1px solid $gray-light;
	    		border-top: 1px solid $gray-light;
	    		padding: 30px 0;
	    		overflow: hidden;
    		}
    	}
    	.creators {
            overflow: hidden;            
    		text-align: center;
            small {
                display: block;
                margin-bottom: 5px;
                &.absolute {
                    position: absolute;
                    width: 65%;
                }
            }
            .logo-fg {
                width: 102px;
                height: 26px;
                margin: 0 auto;
                a {
                    background: url('/custom/content/themes/#{$theme-path}/Imagens/desc-fg.png') 0 0 no-repeat;
                    height: 26px;
                    float: left;
                    width: 100%;
                    &:hover {
                        animation: play 2.5s infinite step-start;
                        -o-animation: play 2.5s infinite step-start;
                        -moz-animation: play 2.5s infinite step-start;
                        -webkit-animation: play 2.5s infinite step-start;
                    }
                    img {
                        float: right;
                        position: relative;
                        right: -4px;
                    }
                }
            }
    	}
    }
}
@-webkit-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@-moz-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@-o-keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    } 
}
@keyframes play {
    0% {
        background-position: 0 0; 
    }
    20% {
        background-position: 0 -26px; 
    }
    40% {
        background-position: 0 -52px; 
    }
    60% {
        background-position: 0 -78px; 
    }
    80% {
        background-position: 0 -104px; 
    }
    100% {
        background-position: 0 0; 
    }
}