.wd-checkout-basket-summaryheader {
	> a {
		b {
			font-size: 0;
			&:before {
				content: '';
				display: block;
				@extend .icon-header-cart !optional;
				position: relative;
				top: 4px;
			}
			&:after {
				content: '';
				display: none;
				position: absolute;
				bottom: -1px;
				right: 13px;
				border-bottom: 9px solid $color-primary-blue;
				border-left: 9px solid transparent;
				border-right: 9px solid transparent;
				width: 0;
				height: 0;
			}
		}
		.basket-size-wrapper {
			background-color: $color-primary-blue;
			color: $white;
			width: 20px;
			height: 20px;
			position: absolute;
			left: 20px;
			top: 0;
			font-size: 0.8em;
			font-family: $font-bold;
			text-align: center;
			line-height: 20px;
			@include round(100%);	
		}
	}
	&:hover {
		> a b:after {
			display: block;
		}
	}
	&.empty {
		.wd-widget {
			padding: 20px 15px;
			text-align: center;
			> div {
				display: none;
			}
			&:before {
				content: ':(';
				font-size: 35px;
				color: $base-color;
				padding-bottom: 10px;
				display: block;
			}
			&:after {
				content:'Seu carrinho está vazio';
				font-size: 1.5em;
				line-height: 35px;
			}
		}
	}
	.wd-widget {
		width: 431px;
		background-color: $white;
		@include round();
		@include shadow();
		padding: 20px 25px;
		top: 65px;
		.wd-header {
			display: none;
		}
		.wd-content {
			padding: 0;
			margin: 0;
			.summaryheader-products {
				display: flex;
				padding: 20px 0;
				border-bottom: 1px solid #D1D1D1;
			}
			.summaryheader-link {
				&:hover {
					text-decoration: none;
				}
				&:first-child {
					padding-top: 0;
				}
			}
			ul {
				display: flex;
				align-items: flex-start;
				li {
					margin: 0;
					padding: 0;
					line-height: 1em;
					&.img {
						width: 79px;
					}
					&.details {
						padding: 0 15px;
						.name {
							display: block;
							width: 256px;
							color: $gray-dark;
							margin-bottom: 10px;
							.freeitem {
								display: none;
							}
						}
						.price {
							float: right;
							font-family: $font-bold;
							font-size: 18px;
							color: $color-primary-orange;
						}
					}
					&.remove {
						color: #C1C1C1;
						height: 13px;
						i {
							font-size: 13px;							
    					display: block;
						}
					}
				}
			}			
			.subtotal {
				padding: 0;
				height: auto;
				li {
					margin: 0;
				}
				.value {
					position: initial;
					float: right;
				}
			}
		}
		.wd-footer {
			padding: 20px 30px;
			.subtotal {
				display: block;
				font-family: $font-bold;
				font-size: 18px;
				margin-bottom: 20px;
				overflow: hidden;
				.label {
					float: left;
					text-transform: uppercase;
				}
				.value {
					float: right;
					color: $color-primary-orange;
				}
			}
			.go-to-basket {
				background-color: $color-green;
				font-size: 18px;
				line-height: 48px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				@include round();
				&:before {
					content: '';
					margin-right: 5px;
					@extend .icon;
					@extend .icon-buy-product !optional;
				}
			}
			.go-to-checkout {
				display: none;
			}
		}
	}
}