header {
	.top-bar {
		background-color: $color-primary-navy;
		padding: 0;
	}
	.top-list {
		text-align: right;
		.item {
			position: relative;
			cursor: pointer;
			.title {
				display: flex;
				align-items: center;
				color: $white;
				padding: 0 15px;
				margin: 15px 0;
				i {
					margin-right: 5px;
				}
				a {
					color: $white;
				}
				span {
					i {
						margin-right: 0;
						margin-left: 5px;
					}
				}
			}
			.dropdown {
				display: none;
				position: absolute;
				width: 100%;
				padding: 0 15px;
				background-color: $white;
				@include shadow(0, 3px, 6px, 0.16);
				@include round-bottom(5px);
				z-index: 2;
			}
			&.duvidas {
				.title {
					border-right: 1px solid $color-light-blue;
				}
			}
			&.troca {
				background-color: #2EA3CF;
				.title {
					font-family: $font-semibold;
					color: $color-primary-navy;
				}
			}
			&:hover {
				.dropdown {
					display: block;
				}
			}
		}
	}

	&.flutuante {
		.top-bar {
			margin-bottom: 82px;
		}
		.main-bar {
			position: fixed;
			top: 0;
			z-index: 55;
		    width: 100%;
		    box-shadow: 1px 1px 1px 1px $gray-semilight;
		}
	}
	.main-bar {
		padding: 20px 0;
		background: $white;
		&.simples {
		    box-shadow: 1px 1px 1px 1px $gray-semilight;
		}
		#top-search {
			padding: 0 30px;
			.wd-search {
				.input-wrapper {	
					margin-bottom: 0;	
					margin-right: 0;
					&:before {
						content: '';
						@extend .icon-search !optional;
						position: absolute;
						left: 15px;
						top: 12px;
					}		
					input {
						padding-left: 50px;
						border-color: $color-primary-blue;
						@include round(5px);
					}
				}
				button {
					display: none;
				}
			}
		}
		.welcome-shopper {
			.icon {
				margin-right: 10px;
			}
			.content {
				.text-hello {
					font-size: 16px;
				}
				.actions {
					color: $gray-dark;
					a {
						color: $gray-dark;
						text-decoration: underline;
						&:hover {
							color: mix($gray-dark, black, 80%);
						}
					}
				}
			}
		}
		.wd-profile-welcome-shopper {
			position: relative;
			line-height: 30px;
			&:hover {
				.widget-content {
					display: block;
				}
			}
			i.fa-user {
				font-size: 24px;
    			padding-right: 5px;
    			color: $base-color;
			}
			.widget-title {
			line-height: 45px;				
				.title {
					color: $font-dark;
					cursor: pointer;
					display: inline-block;
					span, i {
						color: $base-color;
					}
				}
			}
			.widget-content {
				display: none;
			    position: absolute;
			    left: 0px;
			    top: 30px;
			    min-height: 100px;
			    width: 150px;
			    padding: 15px;
			    box-sizing: border-box;
			    border: 1px solid $gray-light;
			    background: #fff;
			    overflow: visible;
			    z-index: 2;
			    .login-wrapper, .new-account {
			    	display: block;
			    	text-align: center;
			    }
			    .wd-profile-login {
		    		display: none !important;
		    	}
		    	.login-title {
		    		background-color: $btn-buy;
		    		color: $white;
		    		margin-bottom: 10px;
		    		@include round(2px);
		    	}
		    	.shopper-authenticated {
		    		a {
		    			line-height: auto;
		    			display: block;
		    			&.put-pipe {
		    				padding: 0;
		    				&:before {
		    					display: none;
		    				}
		    				b {
		    					font-weight: normal;
		    				}
		    			}
		    		}
		    	}
			}
		}
	}
	.condicoes-gerais {
		margin-top: 20px;
		> div {
			display: flex;
			align-items: center;
			i {
				margin-right: 15px;
			}
			span {
				max-width: 135px;
			}
		}
	}
}

@media screen and (max-width: 992px) {
	header .top-list {
		display: none;
	}
	.welcome-shopper {
		display: none;
	}
	#top-search {
		margin-top: 15px;
	}
	.icons-resume {
		padding: 0;
		.main-wishlist, .dropdown-cart {
			padding: 0;
		}
		.dropdown-cart {
			font-size: 1.2em;
		}
	}
}