.wd-widget {
	width: 100%;
	.wd-product-associations {
		margin-top: 50px;
		.wd-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.wd-title, .wd-icon {
				background-color: $white;
			}
			.wd-title {
				font-family: $font-decima;
				font-size: 34px;
				text-transform: uppercase;
				padding-right: 25px;
				order: 1;
			}
			.wd-icon {
				padding-left: 25px;
				order: 2;
				&:before {
					@include aws-icon("\f078");
					color: $color-primary-orange;
					font-size: 30px;
				}
			}
			&:before {
				content: '';
				width: 100%;
				height: 1px;
				position: absolute;
				background-color: $color-primary-blue;
				z-index: -1;
			}
		}
		.wd-content {
			ul {
				li {
					width: inherit;					
					text-align: left;
					margin-bottom: 35px;
					.wd-product-line-medias {
						.thumb, img {
							max-width: 100%;
							height: auto;

						}
					}
					.percent-difference {
						display: none;
					}
					.price-difference {
						text-align: center;
					}
				}
			}
		}
		&.cross-sell {
			overflow: initial;
			.wd-content {
				form  {
					display: flex;
					align-items: center;
					justify-content: center;
					ul {
						display: flex;
						overflow: initial;
						li {
							width: 260px;
							margin-right: 58px;
							margin-bottom: 0;
							position: relative;
							.wd-product-line {
								border-bottom-color: $color-primary-orange;
								@include round();
								@include shadow(0, 3px, 10px, 0.16);
							}
							.wd-product-price-description {
								height: auto;
							}
							.cross-sell-variations {
								margin: 20px 0 0 0;
								select {
									border: 1px solid $color-primary-blue;
									padding: 0 15px;
									height: 28px;
								}
							}
							&:after {
								content: '';
								position: absolute;
								right: -46px;
								top: 50%;
								transform: translateY(-50%);
								@extend .icon !optional;
								@extend .icon-crossell-plus !optional;
							}
							&:last-child {
								&:after {
									@extend .icon-crossell-iqual !optional;
								}
							}
						}
					}
					.plus {
						display: none;
					}
					.cross-sell-footer {						
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 220px;
						max-width: 220px;
						margin: 0;
						background-color: $white;
						text-align: center;
						position: relative;
						overflow: initial;
						.no-variation-selected {
							font-size: 1.3em;
							height: auto;
							line-height: initial;
							margin: 0;
							position: initial;
						}
						.btn-buy, .total {
							float: none;
							margin: 0;
						}
						.total {
							width: 100%;
							text-align: center;
							line-height: 1em;
							.total-header {
								color: $font-black;
								.h2 {
									margin-bottom: 10px;
								}
								span {
									font-size: 16px;
								}
								i {
									margin: 30px 0;
								}
							}
							.asyncprice-area {
								margin: 0;
								.sale-price {
									span {
										color: $font-black;
										font-size: 24px;
										padding-left: 5px;
									}
								}
							}
						}
						.btn-buy {
							order: 2;							
							width: 100%;
							font-size: 18px;
							line-height: 50px;
							padding: 0;
							margin-top: 20px;
							@include round();
						}
					}
				}			
			}
		}
	}
}

.wd-product-reviews {
	width: 100%;
	.review-create {
		@extend .btn ;
		@extend .btn-small;
		margin-left: 20px;
	}
}