.wd-widget {
	.wd-header {
	    span.wd-icon {
	    	display: inline-block;
		}
		.wd-title {
			display: inline-block;
		}
	}
	&.wd-browsing-product-carousel, &.wd-product-list, &.wd-product-featured-list {
		margin-top: 30px;
		.wd-header {
			margin-bottom: 10px;
			position: relative;
			.wd-title {
				font-family: $font-decima;
				font-size: 36px;
				text-transform: uppercase;
				span {
					font-family: $font-decima-heavy;
					color: $color-primary-orange;
				}
				&:after {
					content: '';

				}
			}
			.wd-more {
				float: right;
				font-family: $font-decima-bold;
				text-transform: uppercase;
				font-size: 18px;
				color: $white;
				background-color: $color-primary-orange; 
				padding: 5px 10px;
				@include round();
				.wd-icon {
					float: right;
					line-height: 18px;
					&:after {
						@include aws-icon("\f054");
						font-size: 11px;
						color: $white;
						margin-left: 5px;
					}
				}
			}
		}
	}
}
.wd-browsing-breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	font-size: 12px;
	.location {
		color: $gray-97;
		font-family: $font-regular;
	}
	li:not(.last){
		&:after {
			content: '>';
			color: $gray-97;
		}
		a {
			color: $gray-97;
		}
	}
	.last {
		strong {
			font-family: $font-regular;
			color: $color-primary-navy;
		}
	}
}
#middle > .wd-browsing-breadcrumbs {
	background-color: $gray-extralight;
	justify-content: center;
}

/* carrossel de marcas */
.wd-brand-carousel {
	position: relative;
	li {
		width: auto;
		margin: 0 10px 0 0;
		border-right: 1px solid $gray-dark;
		&:last-child {
			border: 0;
		}
	}
	.jcarousel-control-prev, .jcarousel-control-next {
		i {
			color: $color-primary-orange;
			font-size: 20px;
			top: 50%;
			transform: translateY(-50%);
			&:hover {
				color: $color-dark-orange;
			}
		}
	}
}

/* banners */
.wd-marketing-banner {
	max-width: 100%;
	.banner-wrapper, a {
		max-width: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	&.slider {
		line-height: normal !important;
		height: auto !important;
		.banner-wrapper, a {
			max-width: 100%; 
			height: auto !important;
		}
		.slider-controller {
			position: initial !important;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			line-height: normal;
			li {
				font-size: 0 !important;
				background: transparent;
				border: 1px solid $color-primary-blue;
				width: 11px !important;
				height: 11px !important;
				margin: 10px 5px !important;
				@include round(1px);
				box-shadow: none;
				&.current {
					background: $color-primary-orange;
					border-color: $color-primary-orange;
				}
			}
		}
		.nav-control a {
			display: block;
			position: absolute;
			font-size: 30px;
			color: $color-primary-orange;
			top: 50%;
			left: 20px;
			transform: translate(0, -50%);
			&.next {
				left: initial;
				right: 20px;
			}
			&:hover {
				color: $color-dark-orange;
			}
		}
	}
}
@media screen and (max-width: 1079px) {
	.wd-marketing-banner {
		a, .banner-wrapper {
			text-align: center !important;
		}
	}
}