.btn, button {
    display: inline-block;
    position: relative;
    padding: 0 1em;
    cursor: pointer;

    background: $base-color;
    color: $white;
    font-family: $font-decima-bold;
    font-size: 18px;
    line-height: 40px;
    font-weight: normal;
		text-align: center;
		text-transform: uppercase;

		outline: none;
    border: none;
    @include round(3px);
    
    -webkit-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    -moz-transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);
    transition: all 0.18s cubic-bezier(0.11, 0.96, 0.78, 1);

    &:hover, &.btn-hover {
    	text-decoration: none;
	    color: $white;
	    background-color: tint($base-color, 15%);
    }
    &.btn-small {
    	padding: 0.7em 1em;
    	font-size: $font-size;
    }
	&.btn-outline {
		background: $white;
		border: 1px solid $base-color;
		color: $base-color;
		&:active {
			background: tint($font-dark, 60%);
    	color: $base-color;
		}
		&:hover {
			background: tint($font-dark, 90%);
			color: $base-color;
		}
	}
	&.btn-big {
		font-size: 1.125rem;
    line-height: 1.2em;
	}
	&.btn-huge {
		font-size: 1.625rem;
	}
	&.btn-wide {
		width: 100%;
		text-align: center;
	}
	&[disabled] {
		background-color: tint($font-dark, 70%);
		font-weight: 500;
		color: tint($font-dark, 40%);
		border-bottom-color: tint($font-dark, 10%);
		cursor: wait;
	}
	&.btn-buy {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $btn-buy;
		font-size: 22px;
		&:before {
			content: '';
			@extend .icon !optional;
			@extend .icon-buy-product !optional;
			margin-right: 15px;
		}
		&:active {
			background: tint($btn-buy, 20%);
		}
		&:hover {
		  background: tint($btn-buy, 10%);
		}
		small {
			display: block;
			font-size: 0.6em;
			opacity: .8;
			line-height: 1.5em;
		}
	}
	&.bt-notifyme {
		font-size: 22px;  
		line-height: 57px;  		
		@extend .btn-wide;
		background: $gray-dark;
		font-family: $font-decima-bold;
		@include round();
		&:active {
			background: tint($gray-dark, 20%);
		}
		&:hover {
		    background: tint($gray-dark, 20%);
		}
	}
	&.btn-green {
		background-color: $color-green;
		&:active {
			background: tint($color-green, 20%);
		}
		&:hover {
		  background: tint($color-green, 10%);
		}
	}
	&.btn-navy {
		background-color: $color-primary-navy;
		&:active {
			background: tint($color-primary-navy, 20%);
		}
		&:hover {
		  background: tint($color-primary-navy, 10%);
		}
	}
	&.btn-remove {
	    padding: 0;
	    background: transparent;
	    color: $base-color;
	    font-size: 0.9em;
		&:hover {
		    color: $darken-color;
		}		
		i {
			padding-right: 3px;
		}
	}
}