// nome da pasta do tema
$theme-path: 'Base';

// colors

$color-primary-orange: #EA6525;
$color-light-orange: #F77A40;
$color-dark-orange: #D15217;

$color-primary-yellow: #F7981F;
$color-light-yellow: #FFA83A;
$color-dark-yellow: #DE8512;

$color-primary-navy: #203A6D;
$color-light-navy: #30497A;
$color-dark-navy: #142A54;

$color-primary-blue: #184894;
$color-light-blue: #2A57A1;
$color-dark-blue: #0D377A;

$color-secondary-blue: #2EA3CF;

$base-color: #06799F;
$base-color-2: #FF8973;
$darken-color: mix($base-color, black, 80%);
$lighten-color: mix($base-color, white, 80%);
$font-dark: $color-primary-navy;

$color-green: #0BB844;
$color-persian: #009E8E;
$color-red: #D43717;

$white: #fff;
$gray-dark: #707070;
$gray-medium: #8D8D8D;
$gray-semilight: #D8D8D8;
$gray-light: #eee;
$gray-extralight: #F3F3F3;

$btn-buy: #09C25E;
$price-off: $color-green;
$cart-total: $color-green;
$cart-destaque: $color-green;

// alerts
$success: #dff0d8;
$info: #d9edf7;
$warning:#fcf8e3;
$danger:#f2dede;

//flags
$flag: $color-primary-orange;

// fonts settings
$font-regular: 'exo_2regular';
$font-bold: 'exo_2bold';
$font-semibold: 'exo_2_semi_boldregular';
$font-black: 'exo_2_blackregular';
$font-medium: 'exo_2_mediumregular';

$font-size: 14px;

$font-decima: 'DecimaNova Regular';
$font-decima-bold: 'DecimaNova Bold';
$font-decima-heavy: 'DecimaNova Heavy';

// structure
$wrapper: 1200px;

// quantidade de produtos por linha em vitrine carrossel
$qtd-products-vitrine: 4;


$grid-pp: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width: 575px)"
);
$grid-p: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 575px) and (max-width:767px)"
);
$grid-m: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 768px) and (max-width:991px)"
);
$grid-g: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 992px) and (max-width:1179px)"
);
$grid-gg: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width: 1180px)"
);
$grid-smartphone: (
     columns: 12,
     gutter: 20px,
     media: "screen and (max-width:767px)"
);
$grid-tablet-desktop: (
     columns: 12,
     gutter: 20px,
     media: "screen and (min-width:768px)"
);

$breakpoint-mobile: 768px;
