.wd-flags {
	position: absolute;
	 z-index: 10;
	span.flag {
		display: table;
    padding: 0 5px;
    font-family: $font-decima-bold;
		font-size: 11px;
		line-height: 17px;
    text-transform: uppercase;
    background-color: $color-primary-orange;
    color: $white;
    text-align: center;
    margin-bottom: 5px;
    @include round(2px);
	}	

}