.HomeRoute {
	#middle {
		h2 {
			width: 100%;
			font-family: $font-decima;
			text-transform: uppercase;
			text-align: center;
			font-size: 36px;
			span, p {
				font-family: $font-decima-heavy;
				margin-bottom: 0;
			}
		}
	}
	.wd-browsing-product-carousel {
		&.star, &.time, &.percent {
			.wd-header {
				padding: 35px 0 30px 45px;
				margin: 0;
			}
			.wd-icon {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				z-index: -1;
				&:before {
					content: '';
					@extend .icon;
				}
			}
		}
		&.star .wd-icon:before {
			@extend .icon-vitrine-star !optional;
		}
		&.time .wd-icon:before {
			@extend .icon-vitrine-time !optional;
		}
		&.percent .wd-icon:before {
			@extend .icon-vitrine-percent !optional;
		}
	}
	.mosaico-banners {
		padding: 60px 0;
		background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/mosaico-bg.png');
		background-repeat: no-repeat;
		.row:first-child {
			padding-bottom: 25px;
		}
		img {
			@include shadow();
		}
	}
	.newsletter {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 70px 0;
		.wd-marketing-newsletter {
			max-width: 730px;
			.wd-header, label, p {
				display: none;
			}
			form {
				margin: 0;
			}
			.form-wrapper {
				display: flex;
			}
			input {
				width: 240px;
				height: 48px;
				margin-right: 15px;
			}
			.input-button-marketing-newsletter {
				button {
					line-height: 48px;
					@extend .btn-navy !optional;
				}
			}
		}
	}
	.category-carousel {
		padding: 50px 0;
		background-color: $gray-extralight;
		.wd-marketing-banner {
			position: relative;
			overflow: hidden;
			padding: 0 20px 30px;
			.banners-list {
				width: 2000em;
			}
			.banner-wrapper, 
			a {
				width: auto;
				position: relative;
				img {
					width: auto;
					background-color: $white;
					border-radius: 100%;
					border: 1px solid #D4D4D4;
				}
				.banner-name {
					position: absolute;
					bottom: -15px;
					left: 50%;
					transform: translateX(-50%);
					font-family: $font-bold;
					font-size: 18px;
					color: $white;
					padding: 5px 25px;
					background-image: linear-gradient(#BEBEBE, #858585);
					@include round();
					@include shadow();
				}
				&:hover {
					img {
						@include shadow(0, 3px, 10px, 0.16);						
					}
					.banner-name {						
						background-image: linear-gradient($color-primary-yellow, $color-primary-orange);
					}
				}
			}
			.banner-wrapper {
				float: left;
				margin: 0 10px;
			}
			.jcarousel-control-next, .jcarousel-control-prev {
				background: transparent;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				i {
					font-size: 30px;
				}
				&.inactive i {
					color: #989898;
				}
			}
			.jcarousel-control-prev {
				left: 0;
			}
			.jcarousel-control-next {
				right: 0;
			}
		}
	}
	.novidades {
		padding: 70px 0;
		h2 {
			font-size: 40px;
		}
	}
	> div {
		clear: both;
	}
}
