.HomeRoute {
	.mosaico-banners {
		padding: 60px 0;
		background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/mosaico-bg.png');
		background-repeat: no-repeat;
		.row:first-child {
			padding-bottom: 25px;
		}
		img {
			@include shadow(0, 3px, 6px, 0.16);
		}
	}
	.newsletter {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 70px 0;
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 36px;
			font-family: $font-decima;
			p {
				font-family: $font-decima-heavy;
				margin-bottom: 0;
			}
		}
		.wd-marketing-newsletter {
			max-width: 730px;
			.wd-header, label, p {
				display: none;
			}
			form {
				margin: 0;
			}
			.form-wrapper {
				display: flex;
			}
			input {
				width: 240px;
				height: 48px;
				margin-right: 15px;
			}
			.input-button-marketing-newsletter {
				button {
					line-height: 48px;
					@extend .btn-navy !optional;
				}
			}
		}
	}
	.mega-oferta {
		padding: 20px 0;
		background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/megaoferta-bg.png');
		background-repeat: no-repeat;
		background-position: top center;
		.wd-widget.wd-browsing-product-carousel {
			margin: 0;
			.wd-header .wd-title {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white;
				&:before {
					content: '';
					@extend .icon;
					@extend .icon-forward-right !optional;
					margin-right: 30px;
				}
				&:after {
					content: '';
					@extend .icon;
					@extend .icon-forward-left !optional;
					margin-left: 30px;
				}
			}
			.jcarousel-control-next, .jcarousel-control-prev {
				i {
					color: $white;
				}
			}
		}
	}
	> div {
		clear: both;
	}
}
