.wd-product-price-description {
	text-align: center;
	line-height: 1.5em;
	.list-price {
		color: $gray-medium;
		font-size: $font-size;
		.prefix {

		}
		span {

		}
		&.variation {
			color: $font-dark;
			font-size: 16px;
			span {
				font-family: $font-bold;
			}
		}
	}
	.sale-price {
		color: $font-dark;
		font-size: 16px;
		.prefix {
			font-family: $font-regular;
		}
		span {
			font-family: $font-bold;
		}
	}
	.condition {
		font-size: 16px;
		.parcels, .parcel-value {
			font-family: $font-bold;
		}
	}
	.savings {
		font-size: $font-size;
		color: #787878;
		margin-top: 5px;
		.instant-price {
			display: block;
			font-size: 28px;
			font-family: $font-bold;
			color: $price-off;
		}
	}
}
.wd-product-line {
	.wd-product-price-description {
     	height: 120px;
	}
}
.product-detail .head {
	.savings {
		margin-top: 15px;
		.instant-price {
			font-size: 36px;
		}
	}
	.open-box {
		.savings .instant-price {
			color: $color-primary-orange;
		}
	}
}