.wd-product-price-description {
	text-align: center;
	.list-price {
		color: $gray-medium;
		font-size: $font-size;
		.prefix {

		}
		span {

		}
		&.variation {
			color: $font-dark;
			font-size: 16px;
			span {
				font-family: $font-bold;
			}
		}
	}
	.sale-price {
		color: $font-dark;
		font-size: 16px;
		.prefix {
			font-family: $font-regular;
		}
		span {
			font-family: $font-bold;
		}
	}
	.condition {
		font-size: 16px;
		.parcels, .parcel-value {
			font-family: $font-bold;
		}
	}
	.savings {
		color: #787878;
		.discount {
			font-size: 28px;
			font-family: $font-bold;
			color: $price-off;
		}
	}
}
.wd-product-line {
	.wd-product-price-description {
     	height: 120px;
	}
}
.product-detail .head {
	.sale-price {
		span {
			font-size: 2em;
		}
	}
}