.icon {
  display: inline-block;
}
.icon-arrowhead-pointing-to-the-right {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -165px -199px;
  width: 49px;
  height: 36px;
}
.icon-buy-product {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -267px -93px;
  width: 28px;
  height: 27px;
}
.icon-buy-vitrine {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px 0px;
  width: 40px;
  height: 39px;
}
.icon-cancel {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -267px -120px;
  width: 11px;
  height: 11px;
}
.icon-crossell-iqual {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -261px -199px;
  width: 28px;
  height: 24px;
}
.icon-crossell-plus {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -165px;
  width: 35px;
  height: 35px;
}
.icon-facebook {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -20px -292px;
  width: 12px;
  height: 23px;
}
.icon-forward-left {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -89px;
  width: 38px;
  height: 38px;
}
.icon-forward-right {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -127px;
  width: 38px;
  height: 38px;
}
.icon-header-cart {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: 0px -199px;
  width: 49px;
  height: 47px;
}
.icon-header-phone {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -152px -177px;
  width: 17px;
  height: 17px;
}
.icon-header-question {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -135px -177px;
  width: 17px;
  height: 17px;
}
.icon-header-return {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -117px -177px;
  width: 18px;
  height: 17px;
}
.icon-header-user {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: 0px -246px;
  width: 46px;
  height: 46px;
}
.icon-home-card {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -214px -199px;
  width: 47px;
  height: 34px;
}
.icon-home-discount {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -46px -246px;
  width: 40px;
  height: 42px;
}
.icon-home-lock {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -200px;
  width: 30px;
  height: 40px;
}
.icon-home-tradition {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -188px -113px;
  width: 38px;
  height: 49px;
}
.icon-home-truck {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -107px -199px;
  width: 58px;
  height: 37px;
}
.icon-linkedin {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -150px -246px;
  width: 24px;
  height: 24px;
}
.icon-linx {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -227px -131px;
  width: 66px;
  height: 39px;
}
.icon-menu-all {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -90px -177px;
  width: 27px;
  height: 18px;
}
.icon-menu-casa {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -227px -170px;
  width: 28px;
  height: 26px;
}
.icon-menu-impressora {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -267px -65px;
  width: 28px;
  height: 28px;
}
.icon-menu-informatica {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -240px;
  width: 30px;
  height: 29px;
}
.icon-menu-open-box {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -86px -246px;
  width: 44px;
  height: 36px;
}
.icon-menu-smartphone {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -130px -246px;
  width: 20px;
  height: 29px;
}
.icon-menu-tv {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -255px -170px;
  width: 31px;
  height: 22px;
}
.icon-oferta-produto {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -39px;
  width: 31px;
  height: 50px;
}
.icon-oferta-vitrine {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -227px -65px;
  width: 40px;
  height: 66px;
}
.icon-order-shield {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -197px -246px;
  width: 18px;
  height: 21px;
}
.icon-paypal_PNG22 {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -49px -199px;
  width: 58px;
  height: 38px;
}
.icon-product-bill {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: 0px -292px;
  width: 20px;
  height: 26px;
}
.icon-product-checked {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -188px -162px;
  width: 18px;
  height: 14px;
}
.icon-product-truck {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -300px -269px;
  width: 33px;
  height: 21px;
}
.icon-search {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -174px -246px;
  width: 23px;
  height: 23px;
}
.icon-vitrine-home {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -227px 0px;
  width: 73px;
  height: 65px;
}
.icon-vitrine-laptop {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -90px -113px;
  width: 98px;
  height: 64px;
}
.icon-vitrine-percent {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: 0px -113px;
  width: 90px;
  height: 86px;
}
.icon-vitrine-star {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: -114px 0px;
  width: 113px;
  height: 108px;
}
.icon-vitrine-time {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png);
  background-position: 0px 0px;
  width: 114px;
  height: 113px;
}
