.icon {
  display: inline-block;
}
.icon-american-express {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -116px -246px;
  width: 58px;
  height: 38px;
}
.icon-arrow-right-white {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -376px -73px;
  width: 6px;
  height: 9px;
}
.icon-arrowhead-pointing-to-the-right {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: 0px -284px;
  width: 49px;
  height: 36px;
}
.icon-boleto {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -165px -199px;
  width: 58px;
  height: 38px;
}
.icon-buy-product {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -170px;
  width: 28px;
  height: 27px;
}
.icon-buy-vitrine {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -173px;
  width: 40px;
  height: 39px;
}
.icon-cancel {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -331px -235px;
  width: 11px;
  height: 11px;
}
.icon-crossell-iqual {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -288px;
  width: 28px;
  height: 24px;
}
.icon-crossell-plus {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -38px;
  width: 35px;
  height: 35px;
}
.icon-diners-club {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -174px -246px;
  width: 58px;
  height: 38px;
}
.icon-elo {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -107px -199px;
  width: 58px;
  height: 38px;
}
.icon-facebook {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -331px -212px;
  width: 12px;
  height: 23px;
}
.icon-forward-left {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px 0px;
  width: 38px;
  height: 38px;
}
.icon-forward-right {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -188px -113px;
  width: 38px;
  height: 38px;
}
.icon-header-cart {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: 0px -199px;
  width: 49px;
  height: 47px;
}
.icon-header-phone {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -90px -177px;
  width: 17px;
  height: 17px;
}
.icon-header-question {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -208px -151px;
  width: 17px;
  height: 17px;
}
.icon-header-return {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -327px -262px;
  width: 18px;
  height: 17px;
}
.icon-header-user {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px 0px;
  width: 46px;
  height: 46px;
}
.icon-hipercard {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: 0px -246px;
  width: 58px;
  height: 38px;
}
.icon-home-card {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -49px -284px;
  width: 47px;
  height: 34px;
}
.icon-home-discount {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -95px;
  width: 40px;
  height: 42px;
}
.icon-home-lock {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -73px;
  width: 30px;
  height: 40px;
}
.icon-home-tradition {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -46px;
  width: 38px;
  height: 49px;
}
.icon-home-truck {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -232px -246px;
  width: 58px;
  height: 37px;
}
.icon-instagram {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -227px -170px;
  width: 23px;
  height: 23px;
}
.icon-linkedin {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -267px -94px;
  width: 24px;
  height: 24px;
}
.icon-linx {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -227px -131px;
  width: 66px;
  height: 39px;
}
.icon-mastercard {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -58px -246px;
  width: 58px;
  height: 38px;
}
.icon-menu-all {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -262px;
  width: 27px;
  height: 18px;
}
.icon-menu-casa {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -197px;
  width: 28px;
  height: 26px;
}
.icon-menu-impressora {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -142px;
  width: 28px;
  height: 28px;
}
.icon-menu-informatica {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -113px;
  width: 30px;
  height: 29px;
}
.icon-menu-open-box {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -137px;
  width: 44px;
  height: 36px;
}
.icon-menu-smartphone {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -267px -65px;
  width: 20px;
  height: 29px;
}
.icon-menu-tv {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -266px;
  width: 31px;
  height: 22px;
}
.icon-oferta-produto {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -300px -212px;
  width: 31px;
  height: 50px;
}
.icon-oferta-vitrine {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -227px -65px;
  width: 40px;
  height: 66px;
}
.icon-order-shield {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -273px -170px;
  width: 18px;
  height: 21px;
}
.icon-paypal {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -223px -199px;
  width: 58px;
  height: 38px;
}
.icon-product-bill {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -188px -151px;
  width: 20px;
  height: 26px;
}
.icon-product-checked {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -107px -177px;
  width: 18px;
  height: 14px;
}
.icon-product-truck {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -245px;
  width: 33px;
  height: 21px;
}
.icon-search {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -250px -170px;
  width: 23px;
  height: 23px;
}
.icon-visa {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -49px -199px;
  width: 58px;
  height: 38px;
}
.icon-vitrine-home {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -227px 0px;
  width: 73px;
  height: 65px;
}
.icon-vitrine-laptop {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -90px -113px;
  width: 98px;
  height: 64px;
}
.icon-vitrine-percent {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: 0px -113px;
  width: 90px;
  height: 86px;
}
.icon-vitrine-star {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -114px 0px;
  width: 113px;
  height: 108px;
}
.icon-vitrine-time {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: 0px 0px;
  width: 114px;
  height: 113px;
}
.icon-youtube {
  background-image: url(/Custom/Content/Themes/#{$theme-path}/Imagens/sprite.png?3);
  background-position: -346px -223px;
  width: 32px;
  height: 22px;
}

