.wd-product-list {
	.wd-content {
		> ul  {
			li {				
				width: 260px;
				margin: 15px;
				margin-bottom: 35px;
				padding: 0;
			}
		}
	}
}
.wd-browsing-product-carousel {
	.wd-product-list {
		overflow: hidden;
		.wd-product-list {
			height: auto;
			li {
				width: 263px;
				margin: 15px 0 35px 30px;
			}
		}
	}
	.jcarousel-control-next, .jcarousel-control-prev {
		background: transparent;
    top: 50%;
    transform: translateY(-50%);
		i {
			font-size: 30px;
		}
	}
	.wd-footer {
		display: none;
	}
}
.wd-product-list-contextual {
	.wd-product-list {
		li {
			min-height: 350px;
			height: 360px;
			width: auto;
			
			.medias, .item-description {
				@include grid-column(6);
			}
		}
	}
}
.wd-product-featured-list {
	.wd-content {
		@extend .row;
		.featured, .other  {
			margin: 0;
			.product {
				padding: 0;	
			}
		}
		.other {
			.product {
				margin-bottom: 10px;
			    overflow: hidden;
			    height: auto;
			}
			.name {
				color:$font-dark;
				display: block;
			}
			.medias{
				@include grid-column(2);
				@include grid-media($grid-pp){
			       @include grid-column(12);
			    }
				.img {
					img {
						width: 100%;
						height: auto;
					}
				}
			} 
			.item-description {
				@include grid-column(10);
				@include grid-media($grid-pp){
			       @include grid-column(12);
			    }
				.col {
					padding: 0;
				}
			}
			.wd-product-price-description {
				position: initial;
				 .sale-price span {
					font-size: 1em;
					color: $font-dark;
				}
				.savings,.condition {
					display: none;
				}
			}
		}		
		.img {
			position: initial;
		}
		.featured {
			.product {	
				@extend .row;		
				.name {
					color:$font-dark;
					font-size: 1.2em;
					font-weight: bold;
					display: block;
					margin: 10px 0;
				}
				.medias, .item-description {
					margin: 0;
					vertical-align: middle;
				}
			}			
		}
	}
}

.category-route .mega-oferta {
	padding: 60px 0 20px;
	background-image: url('/Custom/Content/Themes/#{$theme-path}/Imagens/bg-megaoferta-categoria.png');
	background-repeat: no-repeat;
	background-position: center 75px;
	.wd-widget.wd-browsing-product-carousel {
		margin: 0;
		.wd-header {
			top: -40px;
			.wd-title {
				display: flex;
				align-items: center;
				justify-content: center;
				font-family: $font-decima-heavy;
				color: $color-primary-orange;
				&:before {
					content: '';
					@extend .icon;
					@extend .icon-forward-right !optional;
					margin-right: 30px;
				}
				&:after {
					content: '';
					@extend .icon;
					@extend .icon-forward-left !optional;
					margin-left: 30px;
				}
			}
		}
		.wd-content {
			width: 900px;
			overflow: hidden;
			margin: 0 auto;
			.wd-product-list {
				li {
					width: 260px;
					&:last-child {
						margin-right: 30px;
					}
				}
			}
		}
		.jcarousel-control-next, .jcarousel-control-prev {
			width: 30px;
			height: 60px;
			text-align: center;
			background-color: $color-primary-orange;
			i {
				display: block;
				color: $white;
				font-size: 19px;
				line-height: 60px;
			}			
			&.inactive i {
				color: #989898;
			}
			&:hover {
				text-decoration: none;
			}
		}
		.jcarousel-control-prev {
			@include round-left(100%);
		}
		.jcarousel-control-next {
			@include round-right(100%);
		}
	}
}
@media screen and (max-width:575px) {
	.wd-product-list-contextual {
		.wd-product-list{
			li {
				height: 585px;
				.medias, .item-description {
					display: block;
					width: 100%;
				}	
			}
		}
	}
}